<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Index page for the database</h1>
    <h2>Functions:</h2><br>

    <h3>For grade G:</h3>
    <a href="humidityNow">Humidity now</a><br>
    <a href="temperatureNow">Temperature now</a><br>
    <a href="priceNow">Electricity price now</a><br>
    <a href="form">Add new electricity price</a><br>
    <a href="allSensorData">All latest sensor data</a>

    <h3>For VG:</h3>
    <a href="averageHumidity">Average humidity per day</a><br>
    <a href="averageTemperature">Average temperature per day</a><br>

</body>
</html>